/* Text Input */
.custom_input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #474866; /* Changed border color */
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #23243B; /* Changed background color */
    color: white; /* Changed text color */
  }
  
  /* Container for all input types */
  .custom_Input_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    color: white;
    margin-bottom: 5px;
  }
  
  /* Container for select input */
  .custom_select_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* Label style for select */
  
  /* Select style */
  .custom_select_container select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #474866; /* Changed border color */
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #23243B; /* Changed background color */
    color: white; /* Changed text color */
  }
  
  /* Option style */
  .custom_select_container select option {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Container for radio buttons */
  .custom_radio_container {
    margin-bottom: 20px;
  }
  
  /* Style for each radio button div */
  .custom_radio_container div {
    margin-bottom: 10px;
  }
  
  /* Style for radio button input */
  .custom_radio_container input[type="radio"] {
    margin-right: 5px; /* Adjust spacing between input and label as needed */
  }
  
  /* Style for radio button label */
  .custom_radio_container label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white; /* Changed text color */
  }
  
  .custom_Checkbox {
    margin-bottom: 20px;
  }
  
  .custom_Checkbox input[type=checkbox] {
    margin-right: 5px;
  }
  
  .custom_Checkbox label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white; /* Changed text color */
  }
  
  button {
    font-family: Arial, sans-serif;
    background-color: #474866; /* Changed background color */
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: white; /* Changed text color */
  }
  
  /* Button hover effect */
  button:hover {
    background-color: #6E6F91; /* Changed hover background color */
  }
  
  /* Button active effect */
  button:active {
    transform: translateY(1px); /* Push the button down slightly when clicked */
  }
  
  /* Global table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* Table header style */
  table th {
    background-color: #23243B; /* Changed background color */
    padding: 10px;
    text-align: left;
    color: white; /* Changed text color */
  }
  
  /* Table row style */
  table tr {
    border-bottom: 1px solid #474866; /* Changed border color */
  }
  
  /* Table cell style */
  table td {
    padding: 10px;
  }
  
  /* Hover effect on table rows */
  table tbody tr:hover {
    background-color: #2C2D45; /* Changed hover background color */
  }
  