.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    /* padding: 10px; */
  }
  
  .button {
    margin: 0 5px;
    padding: 20px 16px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight:600;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:active {
    background-color: #3e8e41;
  }
  